HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Maven
.mvn/
mvnw
mvnw.cmd

### Node
online-registration-frontend/dist
online-registration-frontend/node_modules
online-registration-frontend/src/node/
online-registration-frontend/src/node/node_modules
online-registration-frontend/package-lock.json
online-registration-frontend/node/
online-registration-backend/target/
**/node_modules

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.gradle
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
out/

### VS Code ###
*.zip
*.jar
